{% extends 'base.html' %}
{% block content %}
<div class="card bg-dark text-dark mx-auto" style="width: 45rem;">
  <div class="card-body bg-dark text-white">
    <h5 class="card-title text-center">Subjects</h5>
    <h6 class="card-title text-center">{{ active_year }}</h6>
  </div>
  <table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Subject:</th>
      <th scope="col">Teacher:</th>
      <th scope="col">Level:</th>
      <th scope="col">Section:</th>
      <th scope="col">Action:</th>

    </tr>
  </thead>
  <tbody>
  {% for subject in subjects %}
    <tr>
        <td> {{ subject.name }}</td>
        <td> {{ subject.faculty }}</td>
        <td> {{ subject.section.level }}</td>
        <td> {{ subject.section }}</td>
        {% if user.is_superuser %}
        <td><a href="{% url 'subjects:edit_subject' pk=subject.pk %}"><i class="fas fa-edit"></i></a>
        <span class="with-popup">
            <div class="popup p-delete">
                <p>Confirm Delete</p>
                <a href="{% url 'subjects:delete_subject' pk=subject.pk %}">Delete</a>
            </div>
        <a title="Delete" class="label sm-label"><i class="fas fa-minus-circle"></i></a>
        </span>
        </td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="pagination-container">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if subjects.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ subjects.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
          </a>
    </li>
    {% endif %}
    {% for page in subjects.paginator.page_range %}
    <li class="page-item {% if page == subjects.number %}active{% endif %}">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}
    {% if subjects.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ subjects.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
<div class="text-left">
  <a href="{% url 'subjects:create_subjects' %}" class="btn btn-primary">Add Subject</a>
</div>
</div>
    <style>
    nav.pagination {
        display: flex;
        justify-content: flex-end;
    }
    ul.pagination {
        margin: 0;
    }
    .pagination-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
</style>
{% endblock %}



